<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd">
   
   <bean class="test.IPhone" id="apple" />
   <bean class="test.Galaxy" id="samsung" />
   <bean class="test.dto" id="dto" scope="prototype"/>
</beans> 